/****************************************COLORES*************************************************/
header{
    nav{
    background-color: #E7F2CE;
    }
}
body {
    background-color: #D1D9C1;
}
main {
    background-color: #F2F0E4;
}
footer {
    background: #50593E;
    color:#182603;
    border: black;
    border-style: ridge;
}
h1 {
    color: #F2F0E4;
}